<?xml version="1.0"?>
<!--
Web.config file for Web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <section name="GaiaAjaxSection" type="Gaia.WebWidgets.GaiaAjaxConfigurationSection" restartOnExternalChanges="true" />
   
    <section name="hibernate-configuration" requirePermission="false" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <!--
     <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
-->
  </configSections>
  <system.web>
    <httpHandlers>
      <add verb="*" path="hibernate.cfg.xml" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="true" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
      <controls>
        <add tagPrefix="gaia" namespace="Gaia.WebWidgets" assembly="Gaia.WebWidgets" />
        <add tagPrefix="gaia" namespace="Gaia.WebWidgets.Extensions" assembly="Gaia.WebWidgets.Extensions" />
        <add tagPrefix="gaia" namespace="Gaia.WebWidgets.CommunityExtensions" assembly="Gaia.WebWidgets.CommunityExtensions" />
        <add tagPrefix="gaia" namespace="Gaia.WebWidgets.CommunityExtensions" assembly="Gaia.WebWidgets.CommunityExtensions.GMap" />
      </controls>
    </pages>
  </system.web>
  <GaiaAjaxSection EnableDefaultTheme="true" EnableJavaScriptInclusion="true" EnableDynamicScriptLoading="false" EnableNestedCssClasses="true">
  </GaiaAjaxSection>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
      <property name="connection.connection_string">Server=localhost;Database=fisio;User ID=postgres;Password=password;</property>
      <property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
      <!--		
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
-->
      <property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory</property>
      <property name="show_sql">false</property>
    </session-factory>
  </hibernate-configuration>
 
  <!--	
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
      <property name="connection.connection_string">Server=localhost;Database=fisio;User ID=postgres;Password=postgres;</property>
      <property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
-->
</configuration>